.modal-dialog {
  position: absolute;
  left: 60%;
  /* now you must set a margin left under zero - value is a half width your window */
  margin-left: -312px;
  /* this same situation is with height - example */
  height: 500px;
  top: 50%;
  margin-top: -150px;
  text-align: center;
}
/*
.dropDownDisable{
    disabled;
}
*/
.dropdown-menu > .disabled > a {
  pointer-events: none;
}
li.disabled {
  pointer-events: none;
}
.head-panel {
  background: #00ee00;
  width: 300px;
  height: 400px;
}
